
body {
    height:fit-content;
    margin-left: 18px;
    margin-top: 10px;
    font-size: 17px;
    font-family: Arial, sans-serif;
}

h {
    font-size: 30px;
}

.container{
    display: flex;
    width: 50%;
    margin-top: -5px;
    margin-bottom: 10px;
}

img {
    border-radius: 40%;
}


button {
    background-color: black;
    color:aqua;
    height: 30px;
    font-size: 20px;
}

button:hover{
    background-color: blue;
    color: white;
}